<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Rick & Morty Stats{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-4">
    <div class="container">
        <a class="navbar-brand fw-bold" href="#">Rick & Morty <span class="text-info">STATS</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" href="{{ path('app_ver_categoria', {'categoriaNombre': 'Personajes'}) }}">Personajes</a>
                <a class="nav-link" href="{{ path('app_ver_categoria', {'categoriaNombre': 'Localizaciones'}) }}">Localizaciones</a>
                <a class="nav-link" href="{{ path('app_ver_categoria', {'categoriaNombre': 'Episodios'}) }}">Episodios</a>
            </div>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
